<html>
<head>
  <title>Page de Connexion</title>
</head>
<body>
  <h1>Connectez-vous</h1>
  <form>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Se connecter</button>
  </form>
</body>
</html>
